<article class="highlightslist <% if (pageID == 'home') { %>jumbotron hidden-xs<% } %>">
  <div class="container">
    <div class="row">
        <% highlights.forEach(function(item) { %>
        <div class="<% if (pageID == 'home') { %>col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center<% } else { %>col-sm-8 <% } %>">
          <h3 class="highlightslist-title"><%= item.site %></h3>
          <h5 class="highlightslist-name"> <a href="/highlights/<%= item.id %>"></a></h5>
          <div class="highlightslist-info">
            <a href="/highlights/<%= item.id %>">



              <% if (pageID == 'home') { %>
                <img class="highlightslist-img img-circle" src="<%= item.image %>" alt="Photo of <%= item.site %>" width="300px"></a>
              <% } %>


              <% if (pageID == 'highlightsList') { %>
                <div class="container" style="width: 850px;">
                  <div class="row">
                    <div class="col-md-6">
                <img class="highlightslist-img img-circle pull-left" src="<%= item.image %>" alt="Photo of <%= item.site %>" width="400px"></a>
              </div>
              <div class="col-md-6">
          <iframe width="300" height="200" src="<%=item.videoEmbed%>"></iframe>
        </div>
      </div>
    </div>


              <% } %>
            </a>

            <% if (pageID == 'highlightDetail') { %>
              <img class="highlightslist-img img-responsive pull-left" src="<%= item.image %>" alt="Photo of <%= item.site %>" width="800px"></a>

            <% } %>
          </a>

            <% if (pageID !== 'home') { %>
               <% if (pageID == 'highlightsList') { %>


              <% }  else { %>
                <div class="highlightslist-text" style="clear:both;"><%- item.info %></div>

                  <div class="container" style="width: 850px;">
                    <div class="row">
                      <div class="col-md-6">
                <iframe width="400" height="300" src="<%=item.videoEmbed%>"></iframe>
              </div>
              <div id="map1" class="col-md-6" style="width: 400px; height: 300px;">hello world
              </div>
              <script>
              function initMap() {
                var centerPos1 = {lat: 40.258908, lng: -74.490083};
                var marker1Pos = {lat: <%- item.lat %>, lng: <%- item.long %>}



                var map1 = new google.maps.Map(document.getElementById('map1'), {
                  center: centerPos1,
                  zoom: 7,
                  mapTypeId: google.maps.MapTypeId.HYBRID,
                  draggable: true });

                  var marker = new google.maps.Marker({
                    position: marker1Pos,
                    map: map1,

                    title: '<%=item.site%>'
                  });




                marker.addListener('click', function()
                {
                  var infowindow = new google.maps.InfoWindow({
                    content: '<%= item.category %>',
                    maxWidth: 400
                  });
                  infowindow.open(map1, marker);
                });
                };
                //});
                //}

              </script>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMwV6Em31cA7duTAggSqhCH35G86YKE9U&callback=initMap"
              async defer></script>
            </div>
          </div>

              <% } %>
            <% } %>
          </div>
        </div>
        <%  }); %>
    </div><!-- row -->
  </div><!-- container -->
</article>
